    body {
      margin: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    #xy-pad {
      width: 80vw;
      height: 80vh;
      border: 2px solid #000;
      background: rgba(255, 255, 255, 0.2);
      position: relative;
      cursor: crosshair;
    }
    #dot {
      width: 20px;
      height: 20px;
      background: yellow;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
    #dot.active {
        background: red;
    }

  @keyframes myAnimation {
    from {top: 35%;}
    to {top: 40%;}
}

/* The element to apply the animation to */
    #ouija {
        animation-name: myAnimation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }


    #start-button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: orange;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    top: 120px;
}

#start-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #7a00ff, #ff00c8);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#start-button:active {
    color: #000
}

#start-button:active:after {
    background: transparent;
}

#start-button:hover:before {
    opacity: 1;
}

#start-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

